<div class="w-64 h-52 p-4 rounded-xl shadow-xl flex flex-col items-center bg-color-white">
     <ng-content></ng-content>
     <div class="flex justify-center w-[200px] h-[100px] relative overflow-hidden">
          <!-- Wheel -->
          <div class="progress-bar font-semibold flex justify-center items-end after:content-[''] after:box-border after:absolute after:left-0 after:top-0 after:w-[200px] after:h-[200px] after:rounded-[50%] after:border-[20px] after:border-l-[#E40046] after:border-b-[#E40046] after:border-r-[#dcdbdb] after:border-t-[#dcdbdb]"
               [style]="cssVariable">
               <span class="text-4xl text-[#E40046]">{{currentData}}</span><span
                    class="text-xl">/{{maxAmountOfData}}</span>
          </div>
     </div>
</div>