<div class="w-full flex justify-center gap-4 mt-5">
    <div *ngFor="let stepConfig of steps; let i = index" 
         class="step flex flex-col items-center cursor-pointer"
         (click)="navigateToStep(i)">
        <div class="w-[50px] h-[5px] bg-color-disabled mb-2"
             [class.active]="step === i + 1"
             [class.bg-color-red]="step === i + 1"></div>
        <span class="text-xs font-medium" 
              [class.text-color-red]="step === i + 1"
              [class.font-bold]="step === i + 1">
            {{ stepConfig.label }}
        </span>
    </div>
</div>